
@media only screen and (max-width: 768px) {

  p{
    font-size: 120%;
  }

  .profile{
    width: 80%;
  }

}

@media (min-width: 769px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

  p{
    font-size: 100%;
  }

  .profile{
    width: 35%;
  }

}
