@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

@font-face {
  font-family: retro;
  src: url(../img/retro.ttf);
  font-weight: bold;
}
/********************************************/
/* ELEMENTOS ESTRUCTURALES */
/********************************************/
html, body{
  margin: 0;
  padding: 0;
}
p, h5{
  font-family: 'Lato', sans-serif;
}

/********************************************/
/* HEADER Y NAVBAR */
/********************************************/
header{
  background-image: linear-gradient(#dbecff, #ffffff);
}
.navbar-brand{
  font-family: 'Caveat', cursive;
  font-size: 170%;
}
.nav-link{
  transition: 0.2s;
}
.nav-link:hover{
  color: #b4d7fe !important;
  transform: scale(1.05);
  text-shadow: 0 0 10px #5696fa !important;
  transition: 0.2s;
}
.title, .subtitle{
  font-family: 'Work Sans', sans-serif;
}
.title{
  font-weight: 800;
}
.profile{
  background: #5696fa;
  color: #ffffff;
  font-size: 105%;
  font-weight: 600;
  width: 35%;
  border-radius: 0.5rem;
}
.img-profile{
  width: 35%;
  border-radius: 50%;
}

/********************************************/
/* TRES CONTENEDORES DE HABILIDADES */
/********************************************/
.skills{
  font-size: 105%;
  font-weight: 600;
  background-color: #b4d7fe;
}
.skills div{
  transition: 0.2s;
  border-radius: 0.5rem;
}
.skills div:hover{
  box-shadow: 0 0 50px #5696fa !important;
  background-color: #d1e7ff;
  transform: scale(1.05);
  transition: 0.2s;
}
.skills h4{
  font-family: 'Work Sans', sans-serif;
  font-weight: 800;
}

/********************************************/
/* SECCIÓN SOBRE MÍ MISMO */
/********************************************/
.about-text h2{
  font-family: 'Work Sans', sans-serif;
  font-weight: 800;
  border-bottom: 2px solid #5696fa;
  width: 50%;
}

.about-text p{
  font-size: 110%;
  font-family: 'Work Sans', sans-serif;
}

.about-img img{
  width: 100%;
  border-radius: 0.2rem;
  filter: sepia(50%);
}

/********************************************/
/* SECCIÓN DE TECNOLOGÍAS */
/********************************************/
.knowledge h2{
  font-family: 'Work Sans', sans-serif;
  font-weight: 800;
  border-bottom: 2px solid #5696fa;
  width: 60%;
}


/* FOOTER */
.footer-contact h5{
  font-weight: 600;
}
